<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ViTac 2023 Workshop</title>
</head>
<body>
<h1>ICRA 2023 ViTac Workshop: Blending Virtual and Real Visuo-Tactile Perception</h1>

<p>{% include figure.html img="ICRA2023.jpeg" alt="intro image here" caption="ICRA 2023 London" width="75%" %}</p>

<p>This is the official website for "ViTac 2023: Blending Virtual and Real Visuo-Tactile Perception".</p>

<p>Abstract: This is the 4th time for us to organise the ViTac workshop in the ICRA conferences, after ICRA 2019, 2020 and 2021 ViTac Workshops, and will be the first time for us to have a hybrid ViTac workshop. The past years have witnessed the fast development of simulation models of optical tactile sensors, Sim2Real and Sim2Real2Sim learning for visuo-tactile perception. It will be timely to bring together the experts and young researchers in the field to discuss how to blend virtual and real visuo-tactile perception. This proposed full-day workshop will cover the recent advancements in the area of visuo-tactile sensing and perception, with the aim to bridge the gap between the simulations and real world for optical tactile sensing and robot perception with vision and tactile sensing. It will further enhance active collaboration and address challenges for this important topic and applications.</p>

<p><strong>Time:</strong>  9:00-18:00 (London time) Friday 2nd June 2023 (access to the room starts from 8:00) <br>
<strong>Location:</strong> ICC Capital Suite 6, xCeL London, 1 Western Gateway, London E16 1XL <br></p>

<p><span style="color:red"><strong>Hybrid format:</strong> All presentations will be streamed to our online participants through the InfoVaya Conference App and hosted on Zoom, click <a href="https://us06web.zoom.us/j/83162631704?pwd=Y1haSXA1RmZJZFYyVkZpMm1zSDlZZz09">this link</a> to access the Zoom meeting. Virtual attendees will be able to observe the session and submit questions through the Zoom chat function. One of the organisers will monitor the questions from remote participants and field them in the workshop room. Prospective questions and discussion topics for the group discussion will be collected all day from both in-presence and online participants. Posters will be displayed all day and will also be accessible in digital format for those attending online.</span> <br></p>

<p><span style="color:red"><strong>News:</strong> We are seeking top-quality original articles for a <a href="https://www.ieee-ras.org/publications/t-ro/special-issues/special-issue-on-tactile-robotics">Special Issue on Tactile Robotics</a> that we are organising in the IEEE Transactions on Robotics.</span> <br></p>

<p>The workshop will be hybrid, please follow our customised <a href="https://www.youtube.com/@ICRAViTacWorkshop/playlists">ICRA ViTac Workshop YouTube channel</a>, a legacy of ICRA 2020 and 2021 ViTac workshops, for recordings of the ViTac workshops.</p>

<p><span style="color:red"><strong>News:</strong> The recording of the workshop is availabe in <a href="https://www.youtube.com/watch?v=jM9KCMhRMYI">this link</a>.</span> <br></p>

<p>{% include figure.html img="IMG_1095.jpeg" alt="group image here" caption="ICRA 2023 London" width="75%" %}</p>

<p><strong>Organisers:</strong> <br>
<a href="https://shanluo.github.io/">Shan Luo</a>, King's College London <br>
<a href="www.lepora.com">Nathan Lepora</a>, University of Bristol <br>
<a href="https://www.ri.cmu.edu/ri-faculty/wenzhen-yuan/">Wenzhen Yuan</a>, Carnegie Mellon University <br>
<a href="http://www.eecs.qmul.ac.uk/profiles/althoeferkaspar.html">Kaspar Althoefer</a>, Queen Mary University of London <br>
<a href="https://www.professoren.tum.de/en/cheng-gordon">Gordon Cheng</a>, Technische Universität München <br></p>

<p><strong>Invited speakers:</strong> <br>
<a href="https://www.csail.mit.edu/person/ted-adelson">Ted Adelson</a>, MIT <br>
<a href="http://homes.cs.washington.edu/~fox/">Dieter Fox</a>, Nvidia / University of Washington <br>
<a href="https://rsdahiya.com/">Ravinder Dahiya</a>, Northeastern University <br>
<a href="https://lasr.org/">Roberto Calandra</a>, TU Dresden <br>
<a href="https://research.monash.edu/en/persons/michael-wang-2">Michael Yu Wang</a>, Monash University <br>
<a href="https://is.mpg.de/~kjk">Katherine Kuchenbecker</a>, Max Planck Institute for Intelligent Systems <br>
<a href="https://www.iit.it/web/soft-biorobotics-perception">Lucia Beccai</a>, Istituto Italiano di Tecnologia <br>
<a href="https://www.shadowrobot.com/">Rich Walker</a>, Shadow Robot Company <br></p>

<p><strong>Key dates</strong> <br>
Posters and live demonstrations will be selected from a call for extended abstracts, reviewed by the organisers. The best posters will be invited to talk at the workshop. All submissions will be reviewed using a single-blind review process. Accepted contributions will be presented during the workshop as posters. Submissions must be sent in pdf, following the IEEE conference style (two-columns), to: shan.luo@kcl.ac.uk, indicating [ICRA 2023 Workshop] in the email subject. <br>
●   Submission Deadline: <s> 15th March, 2023 </s> 30th March, 2023 <br> 
●   Notification of acceptance: 10th April, 2023 <br>
●   Camera-ready deadline: 20th April, 2023 <br>
●   Workshop day: 2nd June 2023 <br></p>

<p><strong>Topics of Interest:</strong> <br>
●   Development of tactile sensors for robot tasks <br>
●   Simulation of tactile sensors <br>
●   Sim2Real and Sim2Real2Sim learning for visual-tactile sensing and perception <br>
●   The control and design of robotic visuo-tactile systems for human-robot interaction <br>
●   Interactive visuo-tactile perception in robot grasping and manipulation <br>
●   Cognitive control of movement and sensory-motor representations with vision and touch <br>
●   Bio-inspired approaches and cognitive architectures for the visuo-tactile perception <br>
●   Computational methods for processing vision and touch data in robot learning <br></p>

<p><strong>Program (may subject to minor changes)</strong> <br>
<strong>09:00</strong>   Organizers  Welcome <br></p>

<p><strong>Session 1:</strong> Development of touch sensors <br>
<strong>09:20</strong>   Gordon Cheng: Session Intro <br>
<strong>09:30</strong>   Ravinder Dahiya:    Invited talk “Electronic skin with printed temperature and light detection sensors” <br>
<strong>09:50</strong>   Lucia Beccai:   Invited talk “The elephant trunk as a new model of tactile perception” <br>
<strong>10:10</strong>   Poster presenters - 1   Lightning poster presentations (2mins each) <br>
      Poster 1: Eric T. Chang, Peter Ballentine, Ioannis Kymissis, Matei Ciocarlie. <em> Towards Development of a Signal-Dense Multimodal Tactile Finger </em> <a href="content/ViTac2023_Paper_01.pdf">[PDF]</a> <br>
      Poster 2: Max Yang, Yijiong Lin, Alex Church, John Lloyd, Dandan Zhang, David A.W. Barton, Nathan F. Lepora. <em> Generalizable and Robust Tactile Pushing using Sim-to-Real Deep Reinforcement Learning </em> <a href="content/ViTac2023_Paper_02.pdf">[PDF]</a> <br>
      Poster 3: Saekwang Nam, Loong Yi Lee, Max Yang, Naoki Shitanda, Jonathan Rossiter and Nathan Lepora. <em> Vision and Tactile Pose Identification for Picking a Target without Collision </em> <a href="content/ViTac2023_Paper_03.pdf">[PDF]</a> <br>
      Poster 4: Christopher J. Ford, Haoran Li, John Lloyd, Manuel G. Catalano, Matteo Bianchi, Efi Psomopoulou, Nathan F. Lepora. <em> Tactile-Driven Gentle Grasping for Human-Robot Collaborative Tasks </em> <a href="content/ViTac2023_Paper_04.pdf">[PDF]</a> <br>
      Poster 5: Xingshuo Jing, Yongqiang Zhao, Jiaqi Jiang, Boyi Duan, Kun Qian, Shan Luo. <em> Unsupervised Adversarial Domain Adaptation for Sim-to-Real Transfer of Tactile Manipulation Skills </em> <a href="content/ViTac2023_Paper_05.pdf">[PDF]</a> <br>
      Poster 6: Mauro Comi, Alex Church, Kejie Li, Laurence Aitchison, Nathan F. Lepora. <em> Implicit Neural Representation for 3D Shape Reconstruction Using Vision-Based Tactile Sensing </em> <a href="content/ViTac2023_Paper_06.pdf">[PDF]</a> <br>
      Poster 7: Julio Castano-Amoros and Pablo Gil. <em> Rotational Slippage Prediction from Segmentation of Tactile Images </em> <a href="content/ViTac2023_Paper_07.pdf">[PDF]</a> <br>
<strong>10:30</strong>   Coffee break, posters and demos <br></p>

<p><strong>Session 2:</strong> Simulations of tactile sensors <br>
<strong>11:30</strong>   Shan Luo:   Session Intro &amp; Talk “Visuo-Tactile Perception in the Real and Virtual Worlds” <br>
<strong>11:50</strong>   Michael Yu Wang:    Invited talk “Touch and Sense for Learning Dexterous Manipulation” <br>
<strong>12:10</strong>   Poster presenters - 2   Lightning poster presentations (2mins each) <br>
      Poster 8: Zixi Chen, Shixin Zhang, Yuhao Sun, Shan Luo, Fuchun Sun, and Bin Fang. <em> Plasticine Manipulation Simulation with Optical Tactile Sensing </em> <a href="content/ViTac2023_Paper_08.pdf">[PDF]</a> <br>
      Poster 9: Yijiong Lin, Mauro Comi, Alex Church, Dandan Zhang, Nathan F. Lepora. <em> Attention of Robot Touch: Tactile Saliency Prediction for Robust Sim-to-Real Tactile Control </em> <a href="content/ViTac2023_Paper_09.pdf">[PDF]</a> <br>
      Poster 10: Daniel Gomes and Paolo Paoletti and Shan Luo. <em> Simulation of Curved GelSight Sensors for Sim2Real Learning </em> <a href="content/ViTac2023_Paper_10.pdf">[PDF]</a> <br>
      Poster 11: Guanqun Cao, Jiaqi Jiang, Ningtao Mao, Danushka Bollegala, Min Li, and Shan Luo. <em> Vis2Hap: Vision-based Haptic Rendering by Cross-modal Generation </em> <a href="content/ViTac2023_Paper_11.pdf">[PDF]</a> <br>
      Poster 12: Jiaqi Jiang, Guanqun Cao, Aaron Butterworth, Thanh-Toan Do, and Shan Luo. <em> Vision-Guided Tactile Poking for Transparent Object Grasping </em> <a href="content/ViTac2023_Paper_12.pdf">[PDF]</a> <br>
      Poster 13: Abu Bakar Dawood, Brice Denoun, and Kaspar Althoefer. <em> Optical Tomography-based Soft Sensor Skin </em> <a href="content/ViTac2023_Paper_13.pdf">[PDF]</a> <br>
      Poster 14: Carolina Higuera, Byron Boots, and Mustafa Mukadam. <em> Learning to Read Braille: Bridging the Tactile Reality Gap with Diffusion Models </em> <a href="content/ViTac2023_Paper_14.pdf">[PDF]</a> <br></p>

<p><strong>12:30</strong>   Lunch break, posters and demos <br></p>

<p><strong>Session 3:</strong> Sim2Real learning for visuo-tactile perception <br>
<strong>14:00</strong>   Nathan Lepora:  Session Intro &amp; Talk “Progress in real, simulated and sim2real optical tactile sensing” <br>
<strong>14:20</strong>   Katherine Kuchenbecker: Invited talk “Minsight: A Fingertip-Sized Vision-Based Tactile Sensor for Robotic Manipulation” <br>
<strong>14:40</strong>   Roberto Calandra:   Invited talk “What's next for Vision-based Tactile Sensors?” <br>
<strong>15:00</strong>   Ted Adelson:    Invited talk “Advances in Camera Based Tactile Sensing” Abstract: Camera based tactile sensors such as GelSight are becoming increasingly popular. The classic boxy design is limiting, especially when integrating the sensor into a gripper intended for grasping and manipulation. I will describe a variety of recent progress, including hemispherical and ellipsoidal sensors, finger-like sensors, fin-ray effect sensors, roller sensors, and articulated sensors. These new designs allow high resolution sensing of geometry and force, and in some cases also capture proprioceptive information. <br>
<strong>15:20</strong>   Rich Walker:    Talk &amp; demo from Shadow Robot <br>
<strong>15:40</strong>   Coffee break, posters and demos <br></p>

<p><strong>Session 4</strong>   Challenges and Outlook <br>
<strong>16:30</strong>   Wenzhen Yuan:   Session Intro &amp; Talk “Bridging simulated and the real-world tactile sensors: challenges and outlook” <br>
<strong>16:50</strong>   Dieter Fox:     Invited talk “Sim2Real for Contact Rich Tasks” <br>
<strong>17:10</strong>   All speakers    Group discussion <br>
<strong>18:00</strong>   Finish <br></p>

<p><strong>Accepted papers</strong> <br></p>

<ol>
  <li><a href="content/ViTac2023_Paper_01.pdf">Eric T. Chang, Peter Ballentine, Ioannis Kymissis, Matei Ciocarlie. "Towards Development of a Signal-Dense Multimodal Tactile Finger" </a></li>
  <li><a href="content/ViTac2023_Paper_02.pdf">Max Yang, Yijiong Lin, Alex Church, John Lloyd, Dandan Zhang, David A.W. Barton, Nathan F. Lepora, "Generalizing Object Pushing Using Touch: A Sim-to-Real Deep Reinforcement Learning Approach" </a></li>
  <li><a href="content/ViTac2023_Paper_03.pdf">Saekwang Nam, Loong Yi Lee, Max Yang, Naoki Shitanda, Jonathan Rossiter, Nathan Lepora, "Vision and Tactile Pose Identification for Picking a Target without Collision" </a></li>
  <li><a href="content/ViTac2023_Paper_04.pdf">Christopher J. Ford, Haoran Li, John Lloyd, Manuel G. Catalano, Matteo Bianchi, Efi Psomopoulou, Nathan F. Lepora, "Tactile-Driven Gentle Grasping for Human-Robot Collaborative Tasks" </a></li>
  <li><a href="content/ViTac2023_Paper_05.pdf">Xingshuo Jing, Yongqiang Zhao, Jiaqi Jiang, Boyi Duan, Kun Qian, Shan Luo. "Unsupervised Adversarial Domain Adaptation for Sim-to-Real Transfer of Tactile Manipulation Skills" </a></li>
  <li><a href="content/ViTac2023_Paper_06.pdf">Mauro Comi, Alex Church, Kejie Li, Laurence Aitchison, Nathan F. Lepora. "Implicit Neural Representation for 3D Shape Reconstruction Using Vision-Based Tactile Sensing" </a></li>
  <li><a href="content/ViTac2023_Paper_07.pdf">Julio Castan ̃o-Amoro ́s and Pablo Gil. "Rotational Slippage Prediction from Segmentation of Tactile Images" </a></li>
  <li><a href="content/ViTac2023_Paper_08.pdf">Zixi Chen, Shixin Zhang, Yuhao Sun, Shan Luo, Fuchun Sun, and Bin Fang. "Plasticine Manipulation Simulation with Optical Tactile Sensing" </a></li>
  <li><a href="content/ViTac2023_Paper_09.pdf">Yijiong Lin, Mauro Comi, Alex Church, Dandan Zhang, Nathan F. Lepora. "Attention of Robot Touch: Tactile Saliency Prediction for Robust Sim-to-Real Tactile Control" </a></li>
  <li><a href="content/ViTac2023_Paper_10.pdf">Daniel Gomes and Paolo Paoletti and Shan Luo. "Simulation of Curved GelSight Sensors for Sim2Real Learning" </a></li>
  <li><a href="content/ViTac2023_Paper_11.pdf">Guanqun Cao, Jiaqi Jiang, Ningtao Mao, Danushka Bollegala, Min Li, and Shan Luo. "Vis2Hap: Vision-based Haptic Rendering by Cross-modal Generation" </a></li>
  <li><a href="content/ViTac2023_Paper_12.pdf">Jiaqi Jiang, Guanqun Cao, Aaron Butterworth, Thanh-Toan Do, and Shan Luo. "Vision-Guided Tactile Poking for Transparent Object Grasping" </a></li>
  <li><a href="content/ViTac2023_Paper_13.pdf">Abu Bakar Dawood, Brice Denoun, and Kaspar Althoefer. "Data-Driven Optical Tomography-based Soft Skin Sensor" </a></li>
  <li><a href="content/ViTac2023_Paper_14.pdf">Carolina Higuera, Byron Boots, and Mustafa Mukadam. "Learning to Read Braille: Bridging the Tactile Reality Gap with Diffusion Models" </a></li>
</ol>

<p>We thank the support from the following IEEE RAS Technical Committees: <br>
-   Haptics <br>
-   Cognitive Robotics <br>
-   Human-Robot Interaction &amp; Coordination <br></p>

<!-- 
{% include toc.html %}


{% include template/credits.html %} -->

</body>
</html>
